*{
    font-family: 'Palanquin Dark', sans-serif;
    margin: 0;
    

}
.header{
    background-color: transparent;
    color: #000000;
    padding: 10px;

}
.header > .container{
    margin: auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header li{
    display: inline-block;
    
}
.header ul{
    list-style: none;
    font-size: 18px;
    
}
.header a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.header ul a {
    padding: 15px;
    transition: all .4s;
}
.header a:hover{
    color: #fff;
    text-shadow: 0 0 20px #50269c;
    
}

body{
    background-image: url(fotos/fundobtsb.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.header h1{
    font-family: 'Palanquin Dark', sans-serif;
    line-height: 45px;
    padding-bottom: 10px;
    font-size: 35px;
    text-shadow:  0px 0px 9px #ddd0ff;
    transition: all .8s;
}
.header h1:hover {
    text-shadow: 0 0 20px #50269c;
}
.logo{
    width: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    transition: all 0.6s;
}
img.logo:hover {
    filter: invert(1);
    
}
.left{
    display: flex;
    align-items: center;
}
.header .active{
    color: white;
    position: relative;
}
.header .active::before{
    content: "";
    background-image: url(fotos/doodle7.png);
    height: 26px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}