
.header{
    transition: all .4s;
}
.conteudo{
    border-radius: 12px;
    max-width: fit-content;
    padding: 28px;
    margin: 173px auto 0;
    text-align: center;
    box-shadow: 0px 1px 10px 1px #ffffff;
    background-color: #8d75cfbf;
    position: relative;
    transition: all .4s;
}
.titulo{
    text-align: center;
    font-size: 27px;
    font-weight: bolder;
    text-shadow: -2px -2px #5428b3bd;
    transition: all .4s;
}
.botaoentrar{
    text-decoration: none;
    display: block;
    background-color: #5428b3;
    border-radius: 9px;
    width: max-content;
    font-weight: bolder;
    margin: 14px auto;
    color: white;
    margin-top: 20px;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0px;
    padding-bottom: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px 0px #e7dcff;
    margin-top: 45px;
    border: solid 1px #5428b3;
    margin-bottom: 25px;
    transition: all .4s;
}
.botaoentrar:hover {
    background-color: #ffffff;
    color: #673ab7;
    box-shadow: 0 0 20px 5px #673ab7;
}
body{
    
    backdrop-filter: blur(5px);
    transition: all .4s;
}
input{
    border: solid 2px #5428b3;
    border-radius: 3px;
    box-shadow: -4px -4px #5428b3;
}
.creditos{
    justify-content: space-evenly;
    height: 81px;
    display: flex;
    padding-bottom: 13px;
    padding-top: 250px;
    margin-left: -132px;
    color: #949494;
}

.creditos a{
    color: #949494;
    transition: all .4s;
}
.creditos a:hover {
    font-size: 17px;
}
.contato_creditos{
    width: fit-content;
    text-align: center;
}

.img_creditos{
    width: fit-content;
    height: fit-content;
    margin-top: -31px;
    text-align: center;
}
.direitos_span{
    margin-top: -11px;
    font-size: 14px;
}
.img_creditos img{
    height: 29px;
    margin-top: 17px;
    margin-bottom: -13px;
}
.bt7{
    position: absolute;
    height: 94px;
    right: 75px;
}
.bt2{
    position: absolute;
    height: 92px;
    top: 136px;
    left: 381px;
}
.doodle6{
    position: absolute;
    height: 36px;
    top: 22px;
    right: 131px;
    opacity: .7;
}
.doodle3{
    position: absolute;
    height: 43px;
    top: 0px;
    left: -18px;
}
u:hover {
    color: #2f2a63 !important;
    
}
u{
    transition: all .4s;
}
div#div_erro {
    position: absolute;
    top: 211px;
    right: 84px;
    font-size: 17px;
    text-shadow: 0 0 2px #dc3131;
}






#balao2 {
    background-image: url(fotos/balao1.png);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    transition: all 1s;
    font-size: 0;
    width: 0;
    height: 0;
    top: 147px;
    left: 414px;
}

#balao2.show {
    font-size: 22px;
    width: 130px;
    height: 67px;
    top: 71px;
    left: 410px;
}